.csharp, .javascript, .swift, .wtf {
  display: none;
  max-width: 500px;
  padding: 5px;
  text-align: center;
}

#formOne {
  max-width: 300px;
}

.name {
  color: black;
}

.form-group {
  max-width: 80%;
  margin-left:10px;
}

.btn{
  margin-bottom: 20px;
}

.trippy {
  animation: colorRotate 3s linear infinite;
  width: 100%;
  display: none;
}

@keyframes colorRotate {
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}

.pink {
  background-color: pink;
}
