body {
  background-color: rgba(226, 226, 226, 1);
}

h1 {
font-family: 'Anton', sans-serif;
}

p {
  font-family: 'Nanum Gothic', sans-serif;
}

.main-image {
  max-width: 700px;
  margin-top: 40px;
  margin-left: 0px;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 100%;
}

.pop-up {
  max-height: 610px;
}

.jumbotron {
  background-color: rgb(180, 180, 180);
  color: #fbfbfb;
  text-shadow: 2px 2px 4px #000000;
  margin-top:5px;
}

.csharp, .javascript, .swift, .wtf {
  display: none;
  max-width: 500px;
  padding: 5px;
  text-align: center;
}

#formOne {
  max-width: 300px;
}

.name {
  color: black;
}

.form-group {
  max-width: 80%;
  margin-left:10px;
}

.btn{
  margin-bottom: 20px;
}

.trippy {
  animation: colorRotate 3s linear infinite;
  width: 100%;
  display: none;
}


@keyframes colorRotate {
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}

.pink {
  background-color: pink;
}
