.csharp, .javascript, .swift {
  display: none;
  max-width: 300px;
  /* border: 1px solid black; */

}

#formOne {
  max-width: 300px;
  /* border: 1px solid black; */

}

.form-group {
  max-width: 80%;
  margin-left:10px;
}

.btn{
  margin-bottom: 20px;
}


.trippy {
  animation: colorRotate 3s linear infinite;
  width: 100%;
}


@keyframes colorRotate {
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}
